body, h1, h2, p, img {
  margin: 0;
}

body {
  font-family: "lato";
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 70%;
  margin: 10px 0 20px 0;
  border: 1px solid grey;//////////////////////////////////////////////
}

header {
  background-color: black;
  color: floralwhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  font-size: 1.4em;
  display: flex;
  align-items: center;
}

.logo__title {
  margin-left: 15px;
  padding: 13px 25px;
  border-left: 2px solid silver;
  font-family: 'Averia Serif Libre';
}

li {
  float: left;
  list-style: none;
  margin-left: 25px;
  font-family: 'Averia Serif Libre';
}

li:hover {
  color: grey;
  transition: 0.25s;
}

.hero {
  background-image: URL("images/bistro-b&w.jpg");
  background-size: cover;
  background-position: 0 -100px;
  height: 700px;
}

.first-bar {
  display: grid;
  grid-template-columns: 35% 65%;
  height: 500px;
}

.first-bar__gmap {
  background-image: URL("images/gmaps.png");
  background-size: cover;
  background-position: center;
}

.first-bar__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  max-width: 650px;
  margin: 0 auto;
  text-align: justify;
  font-family: "lato";
  font-size: 1.2em;
}

.first-bar__copy--title {
  font-family: "Averia Serif Libre";
  padding-bottom: 20px;
  font-size: 1.8em;
  text-align: left;
}

.booking-cta {
  height: 500px;
  background-image: URL("images/dinner-b&w.jpg");
  background-size: cover;
  background-position: center;
  color: floralwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.4em;
}

.booking-cta__text {
  padding-left: 50%;
  font-family: "Averia Serif Libre";
  font-weight: normal;
  color: white;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}

.contact-form__wrapper {
  padding-right: 100px;
}

.contact-form__title {
  font-family: "Averia Serif Libre";
  font-size: 2.5em;
  text-align: center;
}

.contact-form {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  width: 700px;
}

.contact-form__input-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-form__input {
  height: 50px;
  font-size: 1.2em;
  width: 28%;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: gainsboro;
}

.contact-form__text-area {
  resize: none;
  font-size: 1.7em;
  height: 200px;
  margin: 20px 0;
  padding: 10px 0 0 10px;
  border: none;
  border-radius: 8px;
  background-color: gainsboro;
}

.contact-form__submit {
  height: 55px;
  width: 150px;
  border-radius: 10px;
  font-size: 1.4em;
  margin: 0 auto;
  background-color: black;
  border: none;
  color: floralwhite;
}

.contact-text {
  width: 350px;
}

.page__line {
  padding-bottom: 30px;
  font-size: 1.3em;
}

.page__title {
  font-family: "Averia Serif Libre";
  padding-bottom: 30px;
}

.page__title--center {
  text-align: center;
}

.subscription {
  background-color: black;
  color: floralwhite;
  padding: 50px 0;
  text-align: center;
  font-size: 1.1em;
}

.subscription--home {
  padding: 150px 0;
}

.subscription__title {
  padding-bottom: 30px;
  font-size: 2em;
  font-family: "Averia Serif Libre";
}

.subscription__title--home {
  padding-bottom: 50px;
  font-size: 2.5em;
}

.subscription__form {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.subscription__form--home {
  padding-bottom: 70px
}

.subscription__email {
  height: 40px;
  border: none;
  padding: 0 0 0 15px;
  width: 300px;
  font-size: 1.2em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.subscription__email--home {
  height: 60px;
}

.subscription__submit {
  height: 40px;
  width: 130px;
  background-color: dodgerblue;
  border: none;
  color: floralwhite;
  font-size: 1em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.subscription__submit--home {
  height: 60px;
}

footer {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__section {
  padding: 70px 0;
  width: 15%;
}

.footer__section--cta {
  font-weight: bold;
  font-size: 1.2em;
}

.footer__section--booking-link {
  color: floralwhite;
  padding: 15px 40px;
  margin: 20px;
  background-color: black;
  border-radius: 12px;
  display: inline-block;
}

.footer__section--booking-link:hover {
  color: grey;
  transition: 0.25s;
}

.footer__section--middle {
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  font-family: 'Averia Serif Libre';
}

.footer__section--title {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 5px;
}

.copyright {
  font-family: monospace;
  font-size: 1.1em;
  padding-bottom: 20px;
}

.banner-image {
    background-image: URL("images/lights-b&w-cropped.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
}

.page {
  padding: 150px 0;
}

.page--about {
  padding: 150px 25%;
}

.menu__heading {
  font-family: 'Averia Serif Libre';
  font-size: 1.8em;
  padding: 25px 0 0 90px;
  font-weight: normal;
  background-color: black;
  color: floralwhite;
  width: 40%;
  margin-bottom: 15px;
  margin-top: 50px;
}

.menu__item {
  padding: 0 0 20px 60px;
}

.menu__item--title {
  font-size: 1.6em;
  font-family: 'Averia Serif Libre';
}

.page--booking {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-plugin {
  width: 350px;
  height: 500px;
  background-color: gainsboro;
  margin-right: 100px;
}

.booking-text {
  width: 450px;
}

@media(min-width: 1500px) {
  .first-bar__copy--title {
    font-size: 2em;
  }
}
