.subscription {
  background-color: black;
  color: floralwhite;
  padding: 200px 20px;
  text-align: center;
  font-size: 3em;
}

.subscription--home {
  padding: 300px 20px;
}

.subscription__title {
  padding-bottom: 100px;
  font-size: 2em;
  font-family: "Archivo Narrow";
}

.subscription__form {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.subscription__form--home {
  padding-bottom: 120px;
}

.subscription__email {
  height: 120px;
  border: none;
  padding: 0 0 0 15px;
  width: 50vw;
  font-size: 1.2em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.subscription__submit {
  height: 120px;
  width: 250px;
  background-color: dodgerblue;
  border: none;
  color: floralwhite;
  font-size: 1em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
  font-size: 3em;
}

.footer__section {
  font-size: 1.2em;
  padding: 100px;
}

.footer__section--cta {
  font-weight: bold;
}

.footer__section--middle {
  border-top: 3px solid silver;
  border-bottom: 3px solid silver;
  font-family: 'Archivo Narrow';
}

.footer__booking-link {
  color: floralwhite;
  padding: 15px 40px;
  padding: 35px 60px;
  margin-top: 20px;
  background-color: black;
  border-radius: 12px;
  display: inline-block;
  transition: 0.25s;
}

.footer__booking-link:hover {
  color: grey;
}

.footer__title {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 5px;
}

.footer__media-link {
  width: 150px;
}

.copyright {
  font-family: monospace;
  font-size: 1.1em;
  padding-bottom: 50px;
  text-align: center;
  font-size: 3em;
}

@media(min-width: 1500px) {

  .subscription {
    padding: 70px 0;
    font-size: 1.1em;
  }

  .subscription--home {
    padding: 150px 0;
  }

  .subscription__title {
    padding-bottom: 50px;
    font-size: 2.5em;
  }

  .subscription__form--home {
    padding-bottom: 60px;
  }

  .subscription__email {
    width: 300px;
    height: 50px;
  }

  .subscription__submit {
    width: 130px;
    height: 50px;
  }

  .footer {
    flex-direction: row;
    padding: 20px 0;
    font-size: 1em;
  }

  .footer__section {
    padding: 70px 0;
    width: 15%;
  }

  .footer__section--middle {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    font-family: 'Archivo Narrow';
  }

  .footer__booking-link {
    padding: 15px 40px;
  }

  .footer__media-link {
    width: 60px;
  }

  .copyright {
    font-size: 1em;
    padding-bottom: 20px;
  }

}
