body, h1, h2, p, img {
  margin: 0;
}

body {
  font-family: "lato";
}

p {
  line-height: 1.2;  
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

.banner-image {
    background-image: URL("../../images/lights-b&w-cropped.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
}

.page {
  padding: 150px 20px;
}

.page--booking {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.page__title {
  font-family: "Archivo Narrow";
  padding-bottom: 30px;
  font-size: 2.5em;
}

.page__title--center {
  text-align: center;
}

.page__line {
  padding-bottom: 30px;
}

@media(min-width: 1500px) {

  .page {
    padding: 150px 25%;
  }

  .page--booking {
    flex-direction: row;
  }

  .page__title {
    padding-bottom: 30px;
  }

  .page__line {
    padding-bottom: 30px;
    font-size: 1.3em;
  }

}
