.hero {
  background-image: URL("../images/bistro-b&w.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
}

.first-bar {
  display: flex;
  flex-direction: column-reverse;
}

.first-bar__gmap {
  background-image: URL("../images/gmaps.png");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.first-bar__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 20px;
  max-width: 650px;
  margin: 0 auto;
  text-align: justify;
  font-family: "lato";
  font-size: 1.2em;
}

.first-bar__title {
  font-family: "Archivo Narrow";
  padding-bottom: 20px;
  font-size: 1.8em;
  text-align: left;
}

.booking-cta {
  height: 500px;
  background-image: URL("../images/dinner-b&w.jpg");
  background-size: cover;
  background-position: center;
  color: floralwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.4em;
}

.booking-cta__text {
  font-family: "Archivo Narrow";
  font-weight: normal;
  color: white;
}

.contact-section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 120px 20px;
}

.contact-form__title {
  font-family: "Archivo Narrow";
  font-size: 2.5em;
  text-align: center;
}

.contact-form {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.contact-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact-form__input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: gainsboro;
}

.contact-form__text-area {
  resize: none;
  font-size: 1.7em;
  height: 200px;
  margin: 20px 0;
  padding: 10px 0 0 10px;
  border: none;
  border-radius: 8px;
  background-color: gainsboro;
}

.contact-form__submit {
  height: 55px;
  width: 150px;
  border-radius: 10px;
  font-size: 1.4em;
  margin: 0 auto;
  background-color: black;
  border: none;
  color: floralwhite;
}

@media(min-width: 1500px) {

  .hero {
    background-position: 0 -100px;
    height: 700px;
  }

  .first-bar {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 500px;
  }

  .first-bar__gmap {
    height: auto;
  }

  .first-bar__copy {
    width: 70%;
    padding: 0;
  }

  .first-bar__title {
    font-size: 2em;
  }

  .booking-cta__text {
    padding-left: 50%;
  }

  .contact-section {
    flex-direction: row;
    padding: 150px 0;
  }

  .contact-form__wrapper {
    padding-right: 100px;
  }

  .contact-form {
    width: 700px;
  }

  .contact-form__input-wrapper {
    flex-direction: row;
  }

  .contact-form__input {
    width: 28%;
  }



  .contact-text {
    width: 350px;
  }

}
